.player {
    position: absolute;
    z-index: 1;
    height: 20vh;
    width: 20vh;
    margin: -10vh;
    background-size: contain;
}

.player > figcaption {
    color: #fff;
    text-shadow: 0 0 5px #000;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    margin-top: -5vh;
    font-size: 14pt;
}

.player > div {
    width: 100%;
    height: 100%;
}

.player.to-left  div {
    transform: rotateY(-180deg);
}

.player.team-red > div{
    background: url("../images/player1.png") no-repeat;
}


.player.team-blue > div {
    background: url("../images/player2.png") no-repeat;
}

.player.on-sheep {
    height: 25vh;
}

.player.wasted {
    background-color: orange;
}

.player.in-attack {
    background-color: green;
}
