.sheep {
    position: absolute;
    height: 20%;
    width: 20%;
    background-size: contain;
    margin: 0;
}
.sheep > div {
    /* TODO: fix */
    position: relative;
    top: -96%;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.sheep.left > div {
    transform: rotateY(-180deg);
}
.sheep.red > div {
    background-image: url("../images/sheep0.png");
}
.sheep.blue > div {
    background-image: url("../images/sheep1.png");
}
.sheep.busy > div {
    display: none;
}
