.sheep {
    position: absolute;
    z-index: 2;
    height: 20vh;
    width: 20vh;
    margin: -7.5vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sheep.to-left {
    transform: rotateY(-180deg);
}

.sheep.team-red {
    background-image: url("../images/sheep0.png");
}

.sheep.team-blue {
    background-image: url("../images/sheep1.png");
}

.sheep.busy {
    display: none;
}
